<%= provide(:title, "クーポン 一覧") %>

<div class="row">
  <% @coupons.each do |coupon| %>
  <div class="col-xs-3">
    <div class="img-thumbnail">
      <%= attachment_image_tag coupon, :image, size: "200x200" %>
      <div class="caption">
        <div class="coupon__limit">
          <% limit = coupon.created_at + coupon.limit.days %>
          有効期限 : <%= limit.to_s(:datetime_jp) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>