<div class="devise__link">
  <div class="devise__button">
    <%- if controller_name != 'sessions' %>
    <p class="devise__confirm">アカウントをお持ちの方はこちら</p><br>
    <%= link_to "メールアドレスでログイン", new_session_path(resource_name), class: "btn btn-danger btn-lg btn-block" %><br />
    <% end %>
  </div>

  <div class="devise__button">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="devise__confirm">アカウントをお持ちでない方はこちら</p><br>
    <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-success btn-lg btn-block" %><br />
    <% end %>
  </div>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  <% end %>

  <%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログイン", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-lg btn-block" %><br />
  <% end %>
  <% end %>
</div>