<table class="table table-bordered table-hover">
  <thead>
    <tr class="active">
      <th>ID</th>
      <th>投稿日</th>
      <th>投稿者</th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= link_to review.id, admin_tourist_spot_review_path(review.tourist_spot, review) %></td>
      <td><%= review.created_at.to_s(:datetime_jp) %></td>
      <td><%= review.user.name %></td>
      <td><%= review.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>