<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <%= form_with model: @scene, url: admin_scenes_path, local: true do |f| %>
    <%= f.text_field :name, placeholder: "利用シーン名", class: "form-control scene__form" %>
    <%= f.submit "保存", class: "btn btn-primary btn-block scene__button" %>
    <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>