// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.genre {

  &__table,
  &__button {
    margin-top: 30px;
  }

  &__form {
    margin-top: 180px;
  }
}