= provide(:title, 'レビュー 編集')

.row
  .col-xs-3

  .col-xs-6
    = form_with model: @review, url: edit_user_tourist_spot_review_path(@review), local: true, builder: CustomFormBuilder do |f|

      = f.label :images, '写真(複数選択可)'
      span.label.label-danger
        | 必須
      br
      p
        = f.file_field :images, multiple: true, class: 'img_field', style: 'display:none;'
      .btn.btn-warning onclick="$('.img_field').click()"
        | 写真アップロード
      br
      br

      = f.label :title, 'タイトル'
      span.label.label-danger
        | 必須
      br
      = f.text_field :title, placeholder: '例) 楽しかった！', autofocus: true, class: 'form-control'
      br

      = f.label :body, '本文'
      span.label.label-danger
        | 必須
      br
      = f.text_area :body, placeholder: '例) 家族で旅行に行きました。空気がとても美味しくて、良いリフレッシュになりました。', class: 'form-control', style: 'height: 200px;'
      br

      = f.label :score, '点数'
      span.label.label-danger
        | 必須
      br
      = f.select :score, options_for_select(1..100), { prompt: '選択してください' }, class: 'form-control'
      br

      = f.submit '保存', class: 'btn btn-primary btn-lg btn-block'

  .col-xs-3
