= provide(:title, 'レビュー 一覧')

.row
  = render 'user/tourist_spots/detail', tourist_spot: @tourist_spot

.row
  .col-xs-8

  .col-xs-4
    = form_with url: user_tourist_spot_reviews_path, method: :get, local: true do
      .row
        .col-xs-10
          = select_tag 'sort', options_for_select([['おすすめ順', '1'], ['新着順', '2'], ['コメント数', '3'], ['点数順', '4'], ['男性のみ', '5'], ['女性のみ', '6']]), include_blank: '-----', class: 'form-control'
        .col-xs-2
          = submit_tag '並び替え', class: 'btn btn-success'
      br

.row
  = render 'reviews', reviews: @reviews

.row
  - if @reviews.present?
    = paginate @reviews
