= provide(:title, 'お問い合わせ')

.row
  .col-xs-3

  .col-xs-6
    = form_with model: @contact, url: user_contacts_path, local: true, builder: CustomFormBuilder do |f|

      = f.label :name, '氏名'
      span.label.label-danger
        | 必須
      br
      = f.text_field :name, class: 'form-control'
      br

      = f.label :email, 'メールアドレス'
      span.label.label-danger
        | 必須
      br
      = f.text_field :email, class: 'form-control'
      br

      = f.label :title, 'タイトル'
      span.label.label-danger
        | 必須
      br
      = f.text_field :title, class: 'form-control'
      br

      = f.label :body, '本文'
      span.label.label-danger
        | 必須
      br
      = f.text_area :body, class: 'form-control', style: 'height: 100px;'
      br

      = f.submit '送信', class: 'btn btn-success btn-lg btn-block'

  .col-xs-3
