<div class="row">
	<% if tourist_spots %>
	<% tourist_spots.each do |tourist_spot| %>
	<div class="col-xs-3">
		<%= link_to user_tourist_spot_path(tourist_spot) do %>
		<div class="tourist-spot__container">
			<%= image_tag tourist_spot.images[0].to_s, class: "tourist-spot__container--image" %>
			<div class="tourist-spot__container--box">
				<div class="col-xs-7 tourist-spot__container--image">
					<%= tourist_spot.name %>
				</div>
				<div class="col-xs-5">
					<div class="tourist-spot__score">
						<%= tourist_spot.average_score %>点
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
	<% else %>
	<p class="tourist-spot__text">観光スポットがありません</p>
	<% end %>
</div>