.row
  - if tourist_spots.present?
    - tourist_spots.each do |tourist_spot|
      .col-xs-3
        = link_to user_tourist_spot_path(tourist_spot) do
          .tourist-spot__container
            = image_tag tourist_spot.images[0].to_s, class: "tourist-spot__container--image"
            .tourist-spot__container--box
              .col-xs-7.tourist-spot__container--image
                = tourist_spot.name
              .col-xs-5
                .tourist-spot__score
                  = tourist_spot.average_score
                  | 点 
  - else
    p.tourist-spot__text
      | 観光スポットがありません
