= provide(:title, '観光スポット 地図')

.row
  = render 'detail', tourist_spot: @tourist_spot

.row
  .col-xs-3
    = render 'weather', tourist_spot: @tourist_spot

  .col-xs-9
    #map style='height: 550px; width: 100%; margin-top: 30px;'

    - google_api = "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_MAP_API'] }&callback=initMap".html_safe
    script{ async src=google_api }

    javascript:

      let map;
      let latitude = gon.latitude;
      let longitude = gon.longitude;

      function initMap() {
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: latitude,
            lng: longitude
          },
          zoom: 12,
        });

        marker = new google.maps.Marker({
          position: {
            lat: latitude,
            lng: longitude
          },
          map: map
        });
      }
