/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.img-hover:hover,
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

body {
  padding-top: 70px;
  background-color: #FFFAFA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: 30px;
}

.header-logo {
  width: 130px;
  height: 50px;
  position: relative;
  bottom: 13px;
}

.keyword-search {
  margin-bottom: 30px;
}

.image-container {
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 16%;
  left: 70%;
}

.link {
  position: relative;
}

.notification-icon {
  position: absolute;
  top: 14%;
  left: 4%;
}

.notification-link {
  position: relative;
}

//トップへ戻る

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

// フッター
footer {
  width: 100%;
  background-color: #33383c;
  margin-top: auto;
  padding: 30px 0px;
}

.logo {
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
}

.address span,
.menu span {
  color: #FFF;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.address li a,
.menu li a {
  color: #FFF;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 14px;
}

.address li,
.menu li {
  margin: 20px 0px;
  list-style: none;
}

.address li a:hover,
.menu li a:hover {
  color: #da3e44;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.i {
  color: #FFF;
  margin-right: 10px;
  font-size: 20px;
}

.pagination-container {
  text-align: center;
}