/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// ボディー
body {
  padding-top: 70px;
  background-color: #FFFAFA;
  // フッター固定
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// ヘッダー
.header {
  &__logo {
    width: 130px;
    height: 50px;
    position: relative;
    bottom: 13px;
  }

  &__acount-link {
    position: relative;
  }

  &__notifications-link {
    position: relative;
  }

  &__notifications-icon--1 {
    position: absolute;
    top: 16%;
    left: 70%;
  }

  &__notifications-icon--2 {
    position: absolute;
    top: 14%;
    left: 4%;
  }
}

// メイン
main {
  margin-bottom: 30px;
}


// フッター
footer {
  width: 100%;
  background-color: #33383c;
  margin-top: auto;
  padding: 30px 0px;
}

.logo {
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
}

.address span,
.menu span {
  color: #FFF;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.address li a,
.menu li a {
  color: #FFF;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 14px;
}

.address li,
.menu li {
  margin: 20px 0px;
  list-style: none;
}

.address li a:hover,
.menu li a:hover {
  color: #da3e44;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.i {
  color: #FFF;
  margin-right: 10px;
  font-size: 20px;
}

.pagination-container {
  text-align: center;
}

// トップへ戻る
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}


// 画像ホバー時アクション
.img-hover:hover,
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

// 上下左右中央揃え
.centered {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 左側に隙間
.margin-left--10px {
  margin-left: 10px;
}

// 点数
.score {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

// カルーセル画像中央寄せ
.carousel-image {
  width: 40%;
  margin: 0 auto;
}

// トップ画面の画像の高さ調節
.top-image {
  width: 100%;
  height: 150px;
}

// 並び替えホバー
.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}

// スケジュールの日時入力フォームを横並び
.datetime-form {
  display: inline-block;
  width: auto;
}

// ランキングリボン
.ribbon-wrapper {
  display: block;
  position: relative;
  width: 100%;
  background: #f1f1f1;
  box-sizing: border-box;
}

.ribbon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  background: #FFFAFA;
}

.ribbon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid #FFFAFA;
  border-right: 20px solid #FFFAFA;
  border-bottom: 10px solid transparent;
}

// Aboutページ
.about-container {
  margin-top: 30px;
}

h1 {
  font-size: 25px;
  text-align: left;
  text-transform: capitalize;
}

.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.service-icon {
  width: 100%;
  height: 300px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

.service-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 300px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}

.service-box .service-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.service-box .service-icon .front-content h3 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.service-box .service-content p {
  font-size: 12px;
  color: #b1b1b1;
  margin-top: 30px;
}

.yellow {
  background-color: #ffc000;
}

.orange {
  background-color: #fc7f0c;
}

.red {
  background-color: #e84b3a;
}

.grey {
  background-color: #474747;
}

.service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}

.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.item-num-0 {
  width: 100%;
}

.item-num-1 {
  width: 491px;
}

.item-num-2 {
  width: 363px;
}

.item-num-3 {
  width: 234px;
}

.item-num-4 {
  width: 106px;
}

.item-num-5 {
  width: 100%;
}

.item-num-6 {
  width: 491px;
}

.item-num-7 {
  width: 363px;
}

.item-num-8 {
  width: 234px;
}

.item-num-9 {
  width: 106px;
}