// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  &__search-container {
    margin-top: 20px;
  }

  &__search-container:hover {
    opacity: 0.7;
    transform: scale(1.01, 1.01);
  }

  &__search-text {
    margin: 10px;
    font-weight: bold;
    color: #444444;
  }
}