// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  &__search-container {
    margin-top: 20px;
  }

  &__search-container:hover {
    opacity: 0.7;
    transform: scale(1.01, 1.01);
  }

  &__search-text {
    margin: 10px;
    font-weight: bold;
    color: #444444;
  }

  &__ranking-link {
    text-align: right;
    margin-top: 20px;
  }
}



.about-container {
  margin-top: 30px;
}

h1 {
  font-size: 25px;
  text-align: left;
  text-transform: capitalize;
}

.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.service-icon {
  width: 100%;
  height: 300px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

.service-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 300px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}

.service-box .service-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.service-box .service-icon .front-content h3 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-box .service-content p {
  font-size: 12px;
  color: #b1b1b1;
  margin-top: 30px;
}

.yellow {
  background-color: #ffc000;
}

.orange {
  background-color: #fc7f0c;
}

.red {
  background-color: #e84b3a;
}

.grey {
  background-color: #474747;
}

.service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}

.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.ribbon-wrapper {
  display: block;
  position: relative;
  margin: 15px auto;

  width: 100%;
  background: #f1f1f1;
  box-sizing: border-box;
}

.ribbon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  background: #FFFAFA;
}

.ribbon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid #FFFAFA;
  border-right: 20px solid #FFFAFA;
  border-bottom: 10px solid transparent;
}