<table class="table table-bordered table-hover">
	<thead>
		<tr class="active">
			<th>ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>会員ステータス</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.id, admin_user_path(user) %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.is_valid %></td>
		</tr>
		<% end %>
	</tbody>
</table>