// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification {

  &__comment {
    margin-left: 40px;
    opacity: 0.7;
  }

  &__table {
    margin-top: 30px;
  }
}