// Place all the styles related to the user::tourist_spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tourist-spot {

  &__logo {
    text-align: center;
  }

  &__require-label {
    color: white;
    background-color: red;
    margin-left: 5px;
    padding: 3px;
    font-size: 12px;
  }

  &__any-label {
    color: white;
    background-color: gray;
    margin-left: 5px;
    padding: 3px;
    font-size: 12px;
  }

  &__label {
    margin-right: 10px;
  }

  &__button-1,
  &__images {
    margin-top: 30px;
  }

  &__button-2 {
    text-align: right;
  }

  &__images-container {
    width: 100%;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 30px;
  }

  &__score {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
  }

  &__table {
    margin-top: 30px;
  }

  &__container {
    height: 200px;
    position: relative;
    border-radius: 5%;
    display: flex;
    margin-top: 30px;

    &--box {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      background-color: rgba(#EEEEEE, 0.88);
      border-radius: 0 0 8% 8%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--image {
      width: 100%;
      border-radius: 5%;
    }

    &--name {
      font-size: 20px;
      font-weight: bold;
      padding: 5px;
    }

  }

  &__container:hover {
    opacity: 0.7;
    transform: scale(1.01, 1.01);
    border: 1px solid orange;
  }

  &__images:hover {
    opacity: 0.7;
    transform: scale(1.01, 1.01);
  }

  &__text {
    text-align: center;
    margin-top: 100px;
  }
}

.weather-title,
#weather {
  text-align: center;
}

.weather-text {
  text-align: center;
  font-size: 20px;
}