// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise {

  &__title,
  &__form,
  &__button {
    margin-bottom: 30px;
  }

  &__require-label {
    color: white;
    background-color: red;
    margin-left: 5px;
    padding: 3px;
    font-size: 12px;
  }

  &__any-label {
    color: white;
    background-color: gray;
    margin-left: 5px;
    padding: 3px;
    font-size: 12px;
  }

  &__link {
    border: 1px solid rgba(gray, 0.3);
    padding: 30px 30px;
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 30px;
  }

  &__recapcha {
    margin: 30px 0 30px 120px;
  }

  &__text {
    margin-bottom: 30px;
    color: rgba(black, 0.5);
    ;
  }

  &__title,
  &__confirm {
    text-align: center;
  }

  &__error {
    text-align: center;
  }

  &__label {
    margin-top: 30px;
  }
}

.user {
  &__image {
    margin: 10px 0;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  &__button {
    margin-left: 10px;
  }

  &__reviews {
    margin-top: 30px;
  }

  &__followbutton {
    margin-left: 30px;
  }

  &__image:hover {
    opacity: 0.7;
  }
}