// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise {
  text-align: center;

  &__title,
  &__form,
  &__button {
    margin-bottom: 30px;
  }

  &__label {
    color: white;
    background-color: red;
    padding: 3px;
  }

  &__link {
    border: 1px solid rgba(gray, 0.3);
    padding: 30px 30px;
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 30px;
  }

  &__recapcha {
    margin: 30px 0 30px 120px;
  }

  &__text {
    margin-bottom: 30px;
    color: rgba(black, 0.5);
    ;
  }
}